.quests{
    padding-top: 75px;
    padding-bottom: 75px;
    @include media(576){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__title{
        margin-bottom: 28px;
        @include media(1200){
            text-align: center;
        }
        @include media(576){
            margin-bottom: 35px - 22px;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
        @include media(1200){
            flex-direction: column;
            row-gap: 40px - 22px;
        }
    }
    &__content{
        flex: 1 1 auto;
    }
    &__form{
        width: 360px;
        min-width: 360px;
        background: #FFFFFF;
        padding: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        max-height: 525px;
        @include media(1200){
            margin-left: auto;
            margin-right: auto;
            min-width: 0;
            max-width: 360px;
            width: 100%;
            overflow: hidden;
            max-height: 1000px;
        }
        @include media(576){
            padding: 30px;
        }
        &::before{
            content: '';
            position: absolute;
            top: -30px;
            right: -30px;
            transform: rotate(45deg);
            width: 60px;
            height: 60px;
            background: #F3F4F8;
        }
        &-title{
            font-family: 'SONGER';
            margin-bottom: 10px;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 135%;
            text-align: center;
            text-transform: uppercase;
            color: #282830;
            @include media(576){
                font-weight: 700;
                font-size: 18px;
                line-height: 135%;
            }
        }
        &-p{
            font-weight: 500;
            font-size: 16px;
            line-height: 154%;
            margin-bottom: 10px;
            text-align: center;
            color: #50505A;
            @include media(576){
                font-weight: 500;
                font-size: 15px;
                line-height: 154%;
            }
        }
        &-label{
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 14px;
            line-height: 156%;
            color: #7B7B89;
            display: block;
        }
        &-input{
            width: 100%;
            height: 58px;
            background: #F3F4F8;
            border-radius: 5px;
            border: none;
            padding: 14px 15px;
            font-weight: 500;
            font-size: 17px;
            line-height: 174%;
            color: #50505A;
            margin-bottom: 20px;
            @include media(576){
                margin-bottom: 15px;
            }
            &::placeholder{
                color: #50505A;
            }
        }
        &-btn{
            width: 100%;
            margin-bottom: 44px;
            @include media(576){
                margin-bottom: 30px;
            }
        }
        &-sep{
            flex: 1 1 auto;
        }
        &-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 20px;
            width: calc(100% + 20px);
            margin-left: -10px;
            @include media(576){
                column-gap: 7px;
            }
        }
        &-soc{
            display: flex;
            align-items: center;
        }
        &-tel{
            font-family: 'SONGER';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 135%;
            text-align: center;
            text-transform: uppercase;
            color: #282830;
            @include media(576){
                font-weight: 700;
                font-size: 16px;
                line-height: 135%;
            }
        }
    }
}
.accordion{
    &:not(:last-of-type){
        border-bottom: 1px solid #D1D1D1;
    }
    &__button{
        padding-bottom: 22px;
        padding-top: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;
        span{
            font-weight: 700;
            font-size: 18px;
            line-height: 143%;
            letter-spacing: -0.01em;
            color: #282830;
            @include media(576){
                font-weight: 700;
                font-size: 16px;
                line-height: 143%;
            }
        }
        &.active{
            .accordion__button-icon{
                &::after{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &-icon{
            width: 30px;
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #E75325;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 12px;
                height: 2px;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &::after{
                content: '';
                position: absolute;
                width: 2px;
                height: 12px;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 1;
                visibility: visible;
                transition: 300ms ease-out;
            }
        }
    }
    &__content{
        padding-bottom: 22px;
        display: none;
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 174%;
            letter-spacing: -0.01em;
            color: #828282;
            @include media(576){
                font-size: 14px;
            }
        }
    }
}