.services{
    padding-bottom: 75px;
    padding-top: 75px;
    scroll-margin: -30px;
    @include media(576){
        padding-bottom: 50px;
        padding-top: 50px;
        scroll-margin: -25px;
    }
    &__title{
        width: 100%;
        text-align: center;
        margin-bottom: 45px;
        @include media(768){
            margin-bottom: 25px;
        }
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        background: #fff;
        padding: 40px 40px 50px;
        width: 33.333333%;
        display: flex;
        flex-direction: column;
        @include media(1200){
            width: 50%;
        }
        @include media(992){
            padding: 30px;
        }
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
            border-bottom: 1px solid #F3F4F8;
            @include media(1200){
                border: none;
            }
        }
        &:nth-child(2),
        &:nth-child(5){
            border-left: 1px solid #F3F4F8;
            border-right: 1px solid #F3F4F8;
            @include media(1200){
                border: none;
            }
        }
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5){
            @include media(1200){
                border-right: 1px solid #F3F4F8;
            }
            @include media(768){
                border: none;
            }
        }
        &:not(:nth-child(5)),
        &:not(:last-child){
            @include media(1200){
                border-bottom: 1px solid #F3F4F8;
            }
            @include media(768){
                border: none;
            }
        }
        @include media(768){
            width: 100%;
            padding: 25px 30px;
            &:not(:last-child){
                border-bottom: 1px solid #F3F4F8;
            }
        }
        @include media(360){
            padding: 25px 18px;
        }
        &-icon{
            margin-bottom: 40px; 
            @include media(992){
                margin-bottom: 20px;
            }   
            @include media(768){
                width: 32px;
                height: 32px;
                margin-bottom: 15px;
                svg{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &-title{
            min-height: 66px;
            margin-bottom: 30px;
            font-family: 'SONGER';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 148%;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #282830;  
            @include media(1400){
                font-size: 20px;
            }    
            @include media(992){
                font-size: 18px;
                margin-bottom: 10px;
                min-height: 59px;
            }   
            @include media(768){
                font-weight: 700;
                font-size: 18px;
                line-height: 148%;
                margin-bottom: 15px;
                text-decoration: none;
                min-height: 0;
                max-width: 307px;
            }   
        }
        &-p{
            font-weight: 500;
            font-size: 16px;
            line-height: 158%;
            color: #50505A;
            flex: 1 1 auto;
            @include media(768){
                font-weight: 500;
                font-size: 15px;
                line-height: 156%;
            }
        }
        &-row{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 10px;
            margin-top: 20px;
            @include media(768){
                margin-top: 15px;
                column-gap: 10px;
            }   
            svg{
                min-width: 24px;
            }
            span{
                font-weight: 500;
                font-size: 16px;
                line-height: 158%;
                color: #50505A;   
                @include media(768){
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 156%;
                }             
            }
        }
    }
}