mixin advantages() 
    .advantages#advantages 
        .advantages__body.container 
            .advantages__slider.swiper 
                .advantages__wrapper.swiper-wrapper 
                    .advantages__slide.swiper-slide 
                        .advantages__slide-img 
                            img(src="@img/video.png", alt="" draggable="false" loading="lazy") 
                        p.advantages__slide-title Бесплатная консультация 
                        p.advantages__slide-p Расскажем про ошибки на сайте, почему ваши конкуренты в ТОП и как исправить ситуацию 
                        p.advantages__slide-duration Длительность: 30 минут 
                        button(type='button').advantages__slide-btn Записаться <br>на консультацию
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.66602 16H25.3327" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16 6.66669L25.3333 16L16 25.3334" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .advantages__slide.swiper-slide 
                        .advantages__slide-img 
                            img(src="@img/guarant.png", alt="" draggable="false" loading="lazy") 
                        p.advantages__slide-title Гарантируем результат 
                        p.advantages__slide-p Если трафик, позиции сайта не растут, то работаем бесплатно до достижения нужных показателей 
                        p.advantages__slide-duration Действует после 4го месяца 
                        button(type='button').advantages__slide-btn.sec Обговорить <br>условия
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.66602 16H25.3327" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16 6.66669L25.3333 16L16 25.3334" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .advantages__slide.swiper-slide 
                        .advantages__slide-img 
                            img(src="@img/percent.png", alt="" draggable="false" loading="lazy") 
                        p.advantages__slide-title Скидка 10% от 6 месяцев 
                        p.advantages__slide-p Оплатите работы сразу за 6 месяцев и получите выгоду в 10% от конечной стоимости работ 
                        p.advantages__slide-duration Для новых и постоянных клиентов 
                        button(type='button').advantages__slide-btn.third Обговорить <br>условия
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.66602 16H25.3327" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16 6.66669L25.3333 16L16 25.3334" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
            .advantages__slider-info 
                img(src="@img/drag.svg", alt="" draggable="false" loading="lazy")
                span тяните, чтобы листать