mixin affect()
    .affect 
        .affect__body.container
            h2.affect__title.title Что влияет на результат и сроки?
            .affect__slider.swiper 
                .affect__wrapper.swiper-wrapper 
                    .affect__item.swiper-slide 
                        .affect__img 
                            img(src="@img/affect-1.png", alt="" draggable="false")
                        p.affect__item-title Количество страниц <br>и вид сайта
                        p.affect__item-p Landing-page продвигается быстрее и дешевле, чем интернет магазин с<br>50 000 товарами
                    .affect__item.swiper-slide 
                        .affect__img 
                            img(src="@img/affect-2.png", alt="" draggable="false")
                        p.affect__item-title Состояние сайта <br>и количество ошибок
                        p.affect__item-p Проверяю и исправляю все заголовки, код сайта, ссылки, адаптивные версии, копии, названия
                    .affect__item.swiper-slide 
                        .affect__img 
                            img(src="@img/affect-3.png", alt="" draggable="false")
                        p.affect__item-title Бюджет на <br>продвижение
                        p.affect__item-p Чем выше бюджет, тем больше времени мы можем уделять вашему проекту и результат будет быстрее
            .affect__info 
                img(src="@img/drag.svg", alt="" draggable="false")
                span тяните, чтобы листать
