mixin cases()   
    .cases  
        .cases__body.container 
            h2.title.cases__title Мои кейсы
            .cases__item 
                .cases__item-content 
                    h3.cases__item-title #[span За 2,5 месяца достигли всех показателей] на сайте перевозок
                    p.cases__item-p Заняли ТОП-1 по запросам “Минск-Браслав” и “Минск-Шарковщина”. Подняли сайт по данным запросам и их хвосту из ТОП-10 в ТОП-2 за максимально короткий срок. Собственные услуги были окуплены в 4,5 раза!
                    a(href="https://youtu.be/4RWaorPxN6c" target="_blank").cases__item-link 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#E75325"/>
                            <path d="M14.1777 9.99997L7.91191 13.6175L7.91191 6.38239L14.1777 9.99997Z" fill="white"/>
                        </svg>  
                        span Смотреть видео кейса
                    .cases__item-tags 
                        a(href="#!").cases__item-tag Продвижение в ТОП-2
                        a(href="#!").cases__item-tag Окупили SEO в 4,5 раз
                        a(href="#!").cases__item-tag Быстрое продвижени
                        a(href="#!").cases__item-tag Сайт перевозок
                .cases__img 
                    img(src="@img/case-1.png", alt="" draggable="false" loading="lazy") 
            .cases__item 
                .cases__item-content 
                    h3.cases__item-title Продвижение сервисного центра LG #[span с нуля до номера один в Беларуси] 
                    p.cases__item-p Привлекли больше трафика на сайт; Заняли ТОП-3 по основным запросам (такие, как: Ремонт LG, сервисный центр LG, гарантийный ремонт LG и прочее); Увеличили количество заявок
                    a(href="https://youtu.be/4RWaorPxN6c" target="_blank").cases__item-link 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#E75325"/>
                            <path d="M14.1777 9.99997L7.91191 13.6175L7.91191 6.38239L14.1777 9.99997Z" fill="white"/>
                        </svg>  
                        span Смотреть видео кейса 
                    .cases__item-tags 
                        a(href="#!").cases__item-tag Продвижение в ТОП-1 
                        a(href="#!").cases__item-tag Лидер тематики 
                        a(href="#!").cases__item-tag Продвижение по Беларуси 
                        a(href="#!").cases__item-tag Увеличение заявок 
                        a(href="#!").cases__item-tag Продвижение с нуля 
                .cases__img 
                    img(src="@img/case-2.png", alt="" draggable="false" loading="lazy")
            .cases__item 
                .cases__item-content 
                    h3.cases__item-title #[span Сделали лидером тематики] свадебное агентство на Кипре
                    p.cases__item-p Переделали сайт на конструкторе и вывели в ТОП-1.
                    a(href="https://youtu.be/4RWaorPxN6c" target="_blank").cases__item-link 
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#E75325"/>
                            <path d="M14.1777 9.99997L7.91191 13.6175L7.91191 6.38239L14.1777 9.99997Z" fill="white"/>
                        </svg>  
                        span Смотреть видео кейса 
                    .cases__item-tags 
                        a(href="#!").cases__item-tag Продвижение на конструкторе 
                        a(href="#!").cases__item-tag Лидер тематики 
                        a(href="#!").cases__item-tag Маленький бюджет 
                        a(href="#!").cases__item-tag Редизайн сайта 
                        a(href="#!").cases__item-tag Создание сайта 
                .cases__img 
                    img(src="@img/case-3.png", alt="" draggable="false" loading="lazy")