mixin intro()
    .intro#intro 
        .intro__body.container 
            .intro__img 
                img(src="@img/intro-img.png", alt="" draggable="false")
            .intro__content 
                h1.intro__title Продвижение<br>сайта частным<br>SEO специалистом 
                p.intro__desc Использую собственную стратегию работы с поисковыми системами, оптимизирую и продвигаю сайты в ТОП-5 Яндекс и Google, привлекаю больше трафика и посетителей
                .intro__row 
                    button(type='button' data-target="promotion").btn.intro__btn.popup-open Заказать продвижение
                    p.intro__p #[span Гарантируем результат] за 4 месяца или будем работать бесплатно
                ul.intro__list 
                    li.intro__li
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#E75325"/>
                            <path d="M14.4455 6.66666L8.33442 12.7778L5.55664 9.99999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span Отчет о проделанной работе каждый месяц
                    li.intro__li
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#E75325"/>
                            <path d="M14.4455 6.66666L8.33442 12.7778L5.55664 9.99999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span Фиксированная цена после подписания договора
                    li.intro__li
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#E75325"/>
                            <path d="M14.4455 6.66666L8.33442 12.7778L5.55664 9.99999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span На связи 24/7. Отвечаю в выходные и праздники
                    li.intro__li
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="10" cy="10" r="10" fill="#E75325"/>
                            <path d="M14.4455 6.66666L8.33442 12.7778L5.55664 9.99999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span Беру на себя все работы по сайту: от правок до редизайна под ключ
