mixin popup()
    .popup#konsult 
        .popup__overlay.popup-close
        .popup__body
            button(type='button').popup-close.popup__close
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18" stroke="#50505A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 6L18 18" stroke="#50505A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            p.popup__title Записаться на бесплатную консультацию
            p.popup__p Заполните форму и мы свяжемся с вами в течении 60 минут, чтобы обсудить вашу задачу
            form(action="#!").popup__form
                label(for="konsultwebsite").popup__label Ссылка на ваш сайт
                input(type="url" placeholder="Укажите ссылку на ваш сайт")#konsultwebsite.popup__input
                label(for="konsultphone").popup__label Телефон
                input(type="url" placeholder="+ 375 ( __ ) - ___ - __ - __ ")#konsultphone.popup__input
                button(type="submit").btn.popup__btn Записаться на консультацию
                p.popup__info Нажимая на кнопку, вы соглашаетесь с #[a(href="#!") условиями обработки данных]
    
    
    .popup#discuss 
        .popup__overlay.popup-close
        .popup__body
            button(type='button').popup-close.popup__close
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 6L6 18" stroke="#50505A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 6L18 18" stroke="#50505A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            p.popup__title Обсудить условия продвижения
            p.popup__p Заполните форму и мы свяжемся с вами в течении 60 минут
            form(action="#!").popup__form
                label(for="discusswebsite").popup__label Ссылка на ваш сайт
                input(type="url" placeholder="Укажите ссылку на ваш сайт")#discusswebsite.popup__input
                label(for="discussphone").popup__label Телефон
                input(type="url" placeholder="+ 375 ( __ ) - ___ - __ - __ ")#discussphone.popup__input
                button(type="submit").btn.popup__btn Обсудить условия продвижения
                p.popup__info Нажимая на кнопку, вы соглашаетесь с #[a(href="#!") условиями обработки данных]

