mixin programs()
    .programs 
        .programs__body.container 
            .programs__header 
                h2.title.programs__title Использую 7 программ для продвижения
                .programs__info 
                    <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.9993 29.8337C23.3631 29.8337 29.3327 23.8641 29.3327 16.5003C29.3327 9.13653 23.3631 3.16699 15.9993 3.16699C8.63555 3.16699 2.66602 9.13653 2.66602 16.5003C2.66602 23.8641 8.63555 29.8337 15.9993 29.8337Z" stroke="#50505A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 21.8333V16.5" stroke="#50505A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 11.167H16.0133" stroke="#50505A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    span Используем только легальные и проверенные программы, которые дают результаты продвижения и безопасны для вашего сайта
            .programs__content
                .programs__slider.swiper 
                    .programs__wrapper.swiper-wrapper 
                        .programs__slide.swiper-slide 
                            .programs__slide-img 
                                img(src="@img/program-1.png", alt="" draggable="false")
                            .programs__slide-hr 
                            p.programs__slide-title Key collector
                            p.programs__slide-desc Для сбора, кластеризации и работе с семантическим ядром
                            .programs__slide-seperator 
                            p.programs__slide-p 85 BYN
                        .programs__slide.swiper-slide 
                            .programs__slide-img 
                                img(src="@img/program-2.png", alt="" draggable="false")
                            .programs__slide-hr 
                            p.programs__slide-title Screaming Frog
                            p.programs__slide-desc Имитирует работу поисковой системы и позволяет взглянуть на сайт изнутри и найти все технические ошибки
                            .programs__slide-seperator 
                            p.programs__slide-p 545 BYN / в год
                        .programs__slide.swiper-slide 
                            .programs__slide-img 
                                img(src="@img/program-3.png", alt="" draggable="false")
                            .programs__slide-hr 
                            p.programs__slide-title Serpstat
                            p.programs__slide-desc Сервис для детального анализа конкурентов, ссылок и запросов, по которым продвигаются конкуренты
                            .programs__slide-seperator 
                            p.programs__slide-p 155 BYN / месяц
                        .programs__slide.swiper-slide 
                            .programs__slide-img 
                                img(src="@img/program-4.png", alt="" draggable="false")
                            .programs__slide-hr 
                            p.programs__slide-title SimilarWeb
                            p.programs__slide-desc Сервис для анализа трафика конкурентов и в целом ситуации в нише клиента
                            .programs__slide-seperator 
                            p.programs__slide-p 284 BYN / месяц
                .programs__action 
                    button(type='button').programs__prev.swiper-button-prev 
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.3327 16H6.66602" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.9993 25.3333L6.66602 16L15.9993 6.66663" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .programs__pagination.swiper-pagination 
                    button(type='button').programs__next.swiper-button-next
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.66602 16H25.3327" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16 6.66663L25.3333 16L16 25.3333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>