mixin reviews() 
    .reviews 
        .reviews__body.container
            h2.title.reviews__title Ещё несколько отзывов
            .reviews__slider    
                .reviews__slider-content.swiper 
                    .reviews__wrapper.swiper-wrapper 
                        .reviews__slide.swiper-slide 
                            .reviews__slide-content 
                                .reviews__slide-quote 
                                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="27" cy="27" r="27" fill="#F3F4F8"/>
                                        <path d="M19.2587 18.9004C23.716 21.2568 27.0473 24.5458 27.0473 29.504C27.0473 32.6458 25.4051 35.1004 22.6369 35.1004C20.0094 35.1004 18.2734 32.7931 18.2734 30.3877C18.2734 28.5222 19.5402 26.9022 21.4169 26.7058C20.6193 25.8222 18.9772 24.5949 17.1004 23.5149L19.2587 18.9004ZM29.1587 18.9004C33.616 21.2568 36.9004 24.5458 36.9004 29.504C36.9004 32.6458 35.3051 35.1004 32.5369 35.1004C29.8625 35.1004 28.2672 32.7931 28.2672 30.3877C28.2672 28.5222 29.4402 26.9022 31.2701 26.7058C30.5194 25.8222 28.8771 24.5949 26.9534 23.5149L29.1587 18.9004Z" fill="#E75325"/>
                                    </svg>
                                .reviews__slide-circle
                                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.7268 61.8834C23.0663 62.3681 22.1352 61.8964 22.1352 61.0771L22.1352 14.5123C22.1352 13.7425 22.9685 13.2614 23.6352 13.6463L59.1484 34.1499C59.7736 34.5109 59.822 35.3951 59.24 35.8221L23.7268 61.8834Z" fill="white"/>
                                    </svg>
                                p.reviews__slide-title Готовьтесь к тому, что вам придется работать над бизнесом
                                p.reviews__slide-p Я работала уже с 2-мя специалистами по SEO, с первым плохо разошлись, а второй уехал за границу, поэтому нужен был просто человек, который будет поддерживать сайт и всё. После встречи я подумала, что мне кладут лапшу на уши, что с моим сайтом ещё можно продвигать и продвигать и получать больше заявок и там много проблем, но из интереса решила проверить...
                                .reviews__slide-row
                                    button(type='button').reviews__slide-btn Весь отзыв 
                                    button(type='button').reviews__slide-btn.sm Оригинал 
                            p.reviews__slide-name Раиса
                            p.reviews__slide-job Свадебное Агентство
                        .reviews__slide.swiper-slide 
                            .reviews__slide-content 
                                .reviews__slide-quote 
                                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="27" cy="27" r="27" fill="#F3F4F8"/>
                                        <path d="M19.2587 18.9004C23.716 21.2568 27.0473 24.5458 27.0473 29.504C27.0473 32.6458 25.4051 35.1004 22.6369 35.1004C20.0094 35.1004 18.2734 32.7931 18.2734 30.3877C18.2734 28.5222 19.5402 26.9022 21.4169 26.7058C20.6193 25.8222 18.9772 24.5949 17.1004 23.5149L19.2587 18.9004ZM29.1587 18.9004C33.616 21.2568 36.9004 24.5458 36.9004 29.504C36.9004 32.6458 35.3051 35.1004 32.5369 35.1004C29.8625 35.1004 28.2672 32.7931 28.2672 30.3877C28.2672 28.5222 29.4402 26.9022 31.2701 26.7058C30.5194 25.8222 28.8771 24.5949 26.9534 23.5149L29.1587 18.9004Z" fill="#E75325"/>
                                    </svg>
                                .reviews__slide-circle
                                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.7268 61.8834C23.0663 62.3681 22.1352 61.8964 22.1352 61.0771L22.1352 14.5123C22.1352 13.7425 22.9685 13.2614 23.6352 13.6463L59.1484 34.1499C59.7736 34.5109 59.822 35.3951 59.24 35.8221L23.7268 61.8834Z" fill="white"/>
                                    </svg>
                                p.reviews__slide-title Реклама начала работать в 2 раза эффективнее
                                p.reviews__slide-p Искали толкового специалиста, чтобы узнать как нам раскрутить свой интернет магазинчик детских товаров. Получили классные советы по улучшению сайта, а также много записали идей по поводу того, как нам улучшить рекламу в поиске. Реклама начала работать в 2 раза эффективнее и сейчас планируем работать над SEO.
                                .reviews__slide-row
                                    button(type='button').reviews__slide-btn.sm Оригинал 
                            p.reviews__slide-name Оксана
                            p.reviews__slide-job Магазин детских товаров
                        .reviews__slide.swiper-slide 
                            .reviews__slide-content 
                                .reviews__slide-quote 
                                    <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="27" cy="27" r="27" fill="#F3F4F8"/>
                                        <path d="M19.2587 18.9004C23.716 21.2568 27.0473 24.5458 27.0473 29.504C27.0473 32.6458 25.4051 35.1004 22.6369 35.1004C20.0094 35.1004 18.2734 32.7931 18.2734 30.3877C18.2734 28.5222 19.5402 26.9022 21.4169 26.7058C20.6193 25.8222 18.9772 24.5949 17.1004 23.5149L19.2587 18.9004ZM29.1587 18.9004C33.616 21.2568 36.9004 24.5458 36.9004 29.504C36.9004 32.6458 35.3051 35.1004 32.5369 35.1004C29.8625 35.1004 28.2672 32.7931 28.2672 30.3877C28.2672 28.5222 29.4402 26.9022 31.2701 26.7058C30.5194 25.8222 28.8771 24.5949 26.9534 23.5149L29.1587 18.9004Z" fill="#E75325"/>
                                    </svg>
                                .reviews__slide-circle
                                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.7268 61.8834C23.0663 62.3681 22.1352 61.8964 22.1352 61.0771L22.1352 14.5123C22.1352 13.7425 22.9685 13.2614 23.6352 13.6463L59.1484 34.1499C59.7736 34.5109 59.822 35.3951 59.24 35.8221L23.7268 61.8834Z" fill="white"/>
                                    </svg>
                                p.reviews__slide-title Единственный исполнитель, который составил такой прогноз
                                p.reviews__slide-p Нужен был специалист по продвижению нашего сайта завода. С Алексеем познакомились через Яндекс Услуги. Нам подготовили детальное предложение по поводу того, что мы можем получит за 1 год работы по SEO. Это был единственные исполнитель, который составил такой прогноз и мы сразу обратились за услугой. С такой работой можно детально отслеживать получаем ли мы ...
                                .reviews__slide-row
                                    button(type='button').reviews__slide-btn Весь отзыв 
                                    button(type='button').reviews__slide-btn.sm Оригинал 
                            p.reviews__slide-name Олег
                            p.reviews__slide-job Завод металлоконструкций 
                .reviews__row 
                    .reviews__action 
                        button(type='button').reviews__prev.swiper-button-prev 
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M25.3327 16H6.66602" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.9993 25.3333L6.66602 16L15.9993 6.66663" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .reviews__pagination.swiper-pagination 
                        button(type='button').reviews__next.swiper-button-next
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.66602 16H25.3327" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M16 6.66663L25.3333 16L16 25.3333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    .reviews__info 
                        img(src="@img/drag.svg", alt="" draggable="false" loading="lazy")
                        span или тяните, чтобы листать

            