mixin services()
    .services#services
        .services__body.container
            h2.title.services__title Что предлагаю
            .services__content 
                button(type='button' data-target="seo").popup-open.services__item 
                    .services__item-icon
                        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" fill="#E75325"/>
                            <g clip-path="url(#clip0_1171_1123)">
                            <path d="M15.916 26C15.916 26 19.5827 18.6666 25.9993 18.6666C32.416 18.6666 36.0827 26 36.0827 26C36.0827 26 32.416 33.3333 25.9993 33.3333C19.5827 33.3333 15.916 26 15.916 26Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26 28.75C27.5188 28.75 28.75 27.5188 28.75 26C28.75 24.4812 27.5188 23.25 26 23.25C24.4812 23.25 23.25 24.4812 23.25 26C23.25 27.5188 24.4812 28.75 26 28.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" stroke="white"/>
                            <defs>
                            <clipPath id="clip0_1171_1123">
                            <rect width="22" height="22" fill="white" transform="translate(15 15)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .services__item-title SEO-аудит
                    p.services__item-p Проверяем ваш сайт на ошибки, которые негативно влияют на  индексацию и позиции в поисковой выдаче. 
                    .services__item-row 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.3327 8L9.99935 15.3333L6.66602 12" stroke="#E75325" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span После аудита вы получите #[b список рекомендаций] по улучшению сайта
                    .services__item-btn Заказать услугу 
                button(type='button' data-target="promotionTrafik").popup-open.services__item 
                    .services__item-icon
                        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" fill="#E75325"/>
                        <g clip-path="url(#clip0_1171_1147)">
                        <path d="M36.0827 20.5L27.3743 29.2083L22.791 24.625L15.916 31.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M30.584 20.5H36.084V26" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" stroke="white"/>
                        <defs>
                        <clipPath id="clip0_1171_1147">
                        <rect width="22" height="22" fill="white" transform="translate(15 15)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    .services__item-title Продвижение <br>по трафику
                    p.services__item-p В начале составляем прогноз по месяцам, которого можно добиться на сайте, после чего приступаем к достижению указанных показателей.
                    .services__item-row 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.3327 8L9.99935 15.3333L6.66602 12" stroke="#E75325" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span Если не достигнем показателей, то будем #[b работать бесплатно]
                    .services__item-btn Заказать услугу 
                button(type='button' data-target="core").popup-open.services__item 
                    .services__item-icon
                        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" fill="#E75325"/>
                        <path d="M25.0833 32.4167C29.1334 32.4167 32.4167 29.1334 32.4167 25.0833C32.4167 21.0332 29.1334 17.75 25.0833 17.75C21.0332 17.75 17.75 21.0332 17.75 25.0833C17.75 29.1334 21.0332 32.4167 25.0833 32.4167Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M34.2492 34.25L30.2617 30.2625" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" stroke="white"/>
                        </svg>
                    .services__item-title Сбор семантического ядра
                    p.services__item-p Выполняю работы «под ключ»: от сбора и поиска всех запросов до кластеризации и разделение на страницы
                    .services__item-row 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.3327 8L9.99935 15.3333L6.66602 12" stroke="#E75325" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span В подарок вы получаете #[b список запросов] для написания статей
                    .services__item-btn Заказать услугу 
                button(type='button' data-target="promotion").popup-open.services__item 
                    .services__item-icon
                        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" fill="#E75325"/>
                        <path d="M32.2439 35.2161H29.0381V19.2788H27.6099C24.9922 19.2788 23.6209 20.5944 23.6209 22.5583C23.6209 24.7864 24.5667 25.8188 26.5233 27.1344L28.1357 28.2267L23.5017 35.2134H20.0547L24.2252 28.9757C21.827 27.2542 20.4774 25.5736 20.4774 22.7381C20.4774 19.1943 22.9353 16.7837 27.5882 16.7837H32.2222V35.2107H32.2439V35.2161Z" fill="white"/>
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" stroke="white"/>
                        </svg>
                    .services__item-title Продвижение <br>в Яндекс
                    p.services__item-p В Яндекс дешевле продвигаться, тк практически не нужно закупать ссылки.Делаем акцент на работе с текстами, которые будут размещаться на сайте
                    .services__item-btn Заказать услугу 
                button(type='button' data-target="promotion").popup-open.services__item 
                    .services__item-icon
                        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" fill="#E75325"/>
                        <path d="M26.0021 17.7C27.9668 17.7 29.7707 18.3818 31.1931 19.5229L29.8094 20.9057C28.7479 20.1091 27.4306 19.6333 25.9992 19.6333C22.4832 19.6333 19.6326 22.4839 19.6326 25.9999C19.6326 29.516 22.4832 32.3666 25.9992 32.3666C28.9662 32.3666 31.4504 30.3346 32.1581 27.5915L32.3193 26.9666H31.674H26.4992V25.0333H31.6697H33.3326H33.8841C34.0975 26.6336 33.8188 28.8488 32.734 30.7092C31.5745 32.6979 29.4864 34.2999 26.0021 34.2999C21.4168 34.2999 17.6992 30.5834 17.6992 25.9999C17.6992 21.4165 21.4168 17.7 26.0021 17.7Z" fill="white" stroke="white"/>
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" stroke="white"/>
                        </svg>
                    .services__item-title Продвижение <br>в Google
                    p.services__item-p Составляем и анализируем ссылочную составляющую конкурентов, подбираем и покупаем ссылки для вашего сайта. Уделяем внимание текстам, которые будут размещаться на сайте
                    .services__item-btn Заказать услугу 
                button(type='button' data-target="konsult").popup-open.services__item 
                    .services__item-icon
                        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" fill="#E75325"/>
                        <g clip-path="url(#clip0_1171_1108)">
                        <path d="M36.0827 21.4167L29.666 26.0001L36.0827 30.5834V21.4167Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M27.8327 19.5833H17.7493C16.7368 19.5833 15.916 20.4041 15.916 21.4166V30.5833C15.916 31.5958 16.7368 32.4166 17.7493 32.4166H27.8327C28.8452 32.4166 29.666 31.5958 29.666 30.5833V21.4166C29.666 20.4041 28.8452 19.5833 27.8327 19.5833Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <rect x="0.5" y="0.5" width="51" height="51" rx="25.5" stroke="white"/>
                        <defs>
                        <clipPath id="clip0_1171_1108">
                        <rect width="22" height="22" fill="white" transform="translate(15 15)"/>
                        </clipPath>
                        </defs>
                        </svg>
                    .services__item-title Консультация
                    p.services__item-p Вместе с вами посмотрим на сайт и составим список проблем, исправление которых даст рост позиций в поиске
                    .services__item-row 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.3327 8L9.99935 15.3333L6.66602 12" stroke="#E75325" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span 30 минут #[b бесплатной консультации] по любому вопросу
                    .services__item-btn Заказать услугу 