mixin steps()
    .steps 
        .steps__body.container 
            .steps__content 
                .steps__left
                    h2.title.steps__title Всего 4 шага <br>к продвижению, результатам и продажам
                    button(type='button' data-target="konsult").btn.steps__btn.popup-open.lg Записаться на консультацию 
                .steps__items 
                    .steps__item 
                        p.steps__item-num #[span 01] #[sup шаг]
                        p.steps__item-p Запишитесь на бесплатную консультацию или свяжитесь с нами по номеру +375 (29) 869-05-94 (telegram, whatsapp)
                    .steps__item 
                        p.steps__item-num #[span 02] #[sup шаг]
                        p.steps__item-p Обсуждаем задачи, стоимость, сроки и подписываем договор с фиксированной ценой и гарантией
                    .steps__item 
                        p.steps__item-num #[span 03] #[sup шаг]
                        p.steps__item-p Провожу полный анализ сайта и составляю план работ на первый месяц
                    .steps__item 
                        p.steps__item-num #[span 04] #[sup шаг]
                        p.steps__item-p Каждый месяц присылаю отчет и указываю позиции, трафик, что было сделано и план дальнейших действий
                    button(type='button' data-target="konsult").btn.steps__btn.popup-open.sm Записаться на консультацию 
            .steps__info 
                .steps__info-icon 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.99935 18.3337C14.6017 18.3337 18.3327 14.6027 18.3327 10.0003C18.3327 5.39795 14.6017 1.66699 9.99935 1.66699C5.39698 1.66699 1.66602 5.39795 1.66602 10.0003C1.66602 14.6027 5.39698 18.3337 9.99935 18.3337Z" stroke="#282830" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 13.3333V10" stroke="#282830" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 6.66699H10.0083" stroke="#282830" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                p.steps__info-title С Seo вы получаете трафик даже при остановке продвижения сайта
                p.steps__info-p SEO - это долгосрочный эффект, в котором вы платите за поднятие вашего сайта по позициям, а не за количество человек. Даже при остановке продвижения, #[span ваш сайт будет сохранять свои позиции ещё несколько месяцев]
