mixin topics()
    .topics 
        .topics__body.container 
            h2.title.topics__title Продвигали сайты по 158+ тематикам
            p.topics__subtitle И вот самые популярные из них
            .topics__content 
                .topics__col
                    .topics__row
                        ul.topics__list 
                            li.topics__li Авто
                            li.topics__li Автомобильные запчасти
                            li.topics__li Автосервис
                            li.topics__li Автошкола
                            li.topics__li Агентство недвижимости
                            li.topics__li Академия водителей
                            li.topics__li Антикварный салон
                            li.topics__li Блоги
                            li.topics__li Больница
                            li.topics__li Бухгалтерские услуги
                            li.topics__li Детские товары
                            li.topics__li Детский центр
                            li.topics__li Доставка еды
                            li.topics__li Интернет магазин люстр
                            li.topics__li Интернет магазины
                            li.topics__li Каршеринг
                            li.topics__li Курсы маникюра
                            li.topics__li Ломбард
                        ul.topics__list 
                            li.topics__li Магазин обуви
                            li.topics__li Магазин одежды
                            li.topics__li Магазин постельного белья
                            li.topics__li Маркетинговое агентство
                            li.topics__li Мебельный магазин
                            li.topics__li Медицинские услуги
                            li.topics__li Медицинские центр
                            li.topics__li Медицинское оборудование
                            li.topics__li Новостные порталы
                            li.topics__li Образовательные услуги
                            li.topics__li Онлайн школа
                            li.topics__li Продажа косметики
                            li.topics__li Прокат автомобилей
                            li.topics__li Промышленное оборудование
                            li.topics__li Редизайн мебели
                            li.topics__li Ресторан
                            li.topics__li Риэлторские услуги
                            li.topics__li Спортивный магазин
                .topics__col 
                    .topics__row
                        ul.topics__list 
                            li.topics__li Стоматология
                            li.topics__li Страховые услуги
                            li.topics__li Строительные материалы
                            li.topics__li Строительство зданий
                            li.topics__li Танцевальная школа
                            li.topics__li Торговый центр
                            li.topics__li Транспортные услуги
                            li.topics__li Туристические услуги
                        ul.topics__list 
                            li.topics__li Услуги психолога
                            li.topics__li Фотограф
                            li.topics__li Частная клиника
                            li.topics__li Школа вокала
                            li.topics__li Школа изобразительного искусства
                            li.topics__li Ювелирный магазин
                            li.topics__li Юрист
                    .topics__form 
                        p.topics__form-title Предоставим контакты клиентов по запросу
                        p.topics__form-p Мы не публикуем данные о клиентах в целях их безопасности и комфорта. Если хотите узнать у клиента о работе с нами и результатах в своей тематике - мы дадим вам контакт после запроса.
                        button(type='button' data-target="konsult").topics__form-btn.btn.popup-open Хочу узнать о результатах своей в тематике 
                        